/*Declarando variáveis dentro da raíz do documento*/
:root { 
    --vermelho: #E50914;
    --preta: #141414;
}

/*Por padrão, cada navegador gera um valor de padding e margin, mas esse padrão pode mudar dependendo do navegador*/
/*Resentando Css: */
* { /* "*": para todo o documento*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Para os elementos ter exatamante o tamanho definido, por exemplo, 
    imaginando um conteúdo com 400px de largura, ao colocar um outro conteúdo dentro desse e que seja maior que 400px, 
    tudo se ajustará de acordo com o limite da borda da caixa*/
}

/*Elementos Base*/
body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif; /*Se não tiver Times New Roman, fontes da família Times e o serif poderá substituir*/
    color: white;
}

/*Alinhando elementos: */
header .container {
    display: flex; /*Por padrão, os elementos ficam em linha, seguindo a propriedade flex-direction: row;*/
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /*Espaço entre a tag <h2> ("Netflix") e a <nav> (menu)*/
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    font-family: Cambria, Cochin, Georgia, Times, serif;
}

header nav a:hover {
    color: #fff;
}

/*Filme Principal*/
.filme-principal {
    font-size: 20px;
    background: url('/img/abismo-magico-capa.jpg');
    /*
    Para deixar a imagem um pouco escura, usar a propriedade linear-gradient:
       background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/abismo-magico-capa.jpg');
       rgba: red, green, blue, alfa(.50 - transparência)
    Por ser gradient, é pedido mais de uma cor, assim, foram colocados 2 rgba
    */

    height: 550px;
    background-size: cover; /*Especificar tamanho da imagem para cobrir toda a caixa*/

    display: flex;
    flex-direction: column;
    /*
    Enquanto o flex-direction era row, o justify-content ajustava os elemento de forma horizontal (eixo X),
    mas, quando o flex-direction é em column, o justify-content ajusta os elementos de forma vertical (eixo Y)
    */
    justify-content: center;
    align-items: flex-start; /*Elementos começando do lado esquerdo*/
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px; /*Espaço interno*/
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all; /*Transição entre uma animação e outra - Duração de 3 segundos*/
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container {
    margin-left: 20px;;
}

.filme-principal .container {
    width: 60%;
}

.continuar .container{
    display: flex;
    flex-direction: column;
}

.categoria {
    margin-top: 18px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.continuar-imagens {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.continuar-filme {
    height: 16rem;
    width: 13rem;
    margin-right: 15px;
    margin-bottom: 10px;
}

.box-filme {
    height:20rem;
    width: 100%;
    display: block;
}

.carousel-minha-lista {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}